@font-face {
  font-family: 'LeagueGothic';
  src: url('type/LeagueGothic-Regular.otf');
  src: url('type/LeagueGothic-Italic.otf');
  src: url('type/LeagueGothic-CondensedRegular.otf');
  src: url('type/LeagueGothic-CondensedItalic.otf');
}



h1, h2, h3, h4, h5, h6{
	color: #333;
	font-size: 40px;
	font-family: "LeagueGothic",;
}

body{
	font-size: 18px;
	font-family: Arial;
	background-size: 100%; 
	background-color: #5d9242;
	line-height: 1.2em;

}


.intro{
	float:left;
	
	width: 400px;
	position: right top;
	background-color: #9FC35A;
	border: solid 2px #3B601B;
	padding: 1em;

}

.article{
	float:left;
	position: absolute;
	bottom: 10px;
	
}

.acontainer{
	float: left;
	max-width: 600px;
	padding: 1em;
	
}


.bigpic{
	float: left;
	width: 100%;
	z-index: -1;
	border: 
	
}

.bubbles{
	position: absolute;
	top: 650px;
	left: 650px;
	width: 200px;
	height: 200px;
}

.box{
	position: relative;
	width: 50%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

@media screen and (max-width: 50px){

			body{
				background-color: pink;
			}


			h1, h2, h3{
				color: pink;
				}



}