@font-face {
  font-family: 'LeagueGothic';
  src: url('type/LeagueGothic-Regular.otf');
  src: url('type/LeagueGothic-Italic.otf');
  src: url('type/LeagueGothic-CondensedRegular.otf');
  src: url('type/LeagueGothic-CondensedItalic.otf');
}



h1, h2, h3, h4, h5, h6{
	color: #333;
	font-size: 40px;
	font-family: "LeagueGothic",;
}

body{
	font-size: 12px;
	font-family: Arial;
	background-image: url("rabbitturtle.png");
	background-repeat: no-repeat;
	width: 80%;

}

.numberofyears {
	font-size: 50px;
	color: #222;
}

.teaser{
	font-weight: bold;

}